**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [2]:
import math


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
nums= list(range(0,21))
square= [i**2 for i in nums]
square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [10]:
nums=list(range(0,101))
sqrt=[i**0.5 for i in nums]
sqrt

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [13]:
my_list=list(range(-10,1))
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [21]:
odds=list(filter(lambda x: x%2 !=0 , nums))
odds[0:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [29]:
nums1= list(range(0,1001))
divisible_by_seven=[n for n in nums1 if n%7==0]
divisible_by_seven[0:10]

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [30]:
# You can use the following test string but feel free to modify at your convenience
vowels=['a','e','i','o','u']
teststring = 'Find all of the words in a string that are monosyllabic'

In [38]:
non_vowels=''.join(list(filter(lambda x: x not in vowels, teststring)))
non_vowels

'Fnd ll f th wrds n  strng tht r mnsyllbc'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [48]:
frase = 'The Quick Brown Fox Jumped Over The Lazy Dog'
Capital_letters=''.join([i for i in frase if i==i.upper()]).split()
Capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [51]:
consonants= ''.join([i for i in frase if i not in vowels])
print(consonants)

Th Qck Brwn Fx Jmpd Ovr Th Lzy Dg

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [52]:
import os

In [55]:
files = [file for file in os.listdir("../../../Ironhack")]
print(files)

['.ipynb_checkpoints', 'apuntes de prueba mios', 'apuntes_clase', 'justificante de pago del depósito.pdf', 'lab-api-scavenger-game', 'lab-bash', 'lab-continuous-probability-distributions', 'lab-control-flow', 'lab-descriptive-stats', 'lab-dicts-sets-tuples', 'lab-discrete-probability-distributions', 'lab-errhand_listcomp', 'lab-functions', 'lab-intro-to-mysql', 'lab-map-filter-reduce', 'lab-matplotlib-seaborn', 'lab-mongo-queries', 'lab-mysql-select', 'lab-numpy', 'lab-pandas', 'lab-probability-intro', 'lab-vikings', 'lab-web-scraping', 'List-Comprehension', 'MY CONTRACT - Careerhack.docx', 'Proyecto-NBA', 'Proyecto_GEO', 'Proyecto_Pandas', 'test_db-master', '_TOP SKILLS_ - Careerhack.docx', '_TOP VALUES_ - Careerhack.docx']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [57]:
import random

In [58]:
lista = [random.sample(range(0,101),10) for n in range(4)]
print(lista)

[[47, 50, 88, 5, 4, 38, 17, 61, 35, 11], [64, 42, 70, 4, 63, 1, 6, 73, 0, 23], [29, 86, 20, 9, 24, 72, 44, 91, 46, 35], [72, 33, 1, 13, 26, 77, 6, 36, 69, 61]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [60]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [64]:
flatten_list=[i for i in list_of_lists for i in i]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [65]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [69]:
floats=[float(i) for a in list_of_lists for i in a]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [73]:
for i in ['a','b','c']:
    try:
        print (i**2)
    except:
        print ('No se puede')

No se puede
No se puede
No se puede

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [76]:
x = 5
y = 0
try:
    print(z = x/y)
except:
    print('No se puede')

No se puede

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [80]:
x = int(input(f"Introduce un número a dividir por otro:"))
y = int(input(f"Introduce un número para dividir el anterior:"))
try:
    print(x/y)
except ValueError:
    print (f"Tiene que ser un número")
except ZeroDivisionError:
    print (f"No se puede dividir entre 0")

Introduce un número a dividir por otro:10
Introduce un número para dividir el anterior:0
No se puede dividir entre 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [84]:

try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    print('No existe ese archivo')

No existe ese archivo

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [87]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except:
    print('No such file or directory')

No such file or directory

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [89]:
import sys

In [ ]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except:
        print('Not a Linux system')
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [8]:
def square(x):
    try:
        if x== int(x):
            return x**2
        else:
            print('Porfavor introduce un número entero')
    except:
        print('Ha de ser un número')


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [14]:
results=[i for i in range(1,1001) if [n for n in range(2,10) if i%n == 0]]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'