**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [6]:
from math import sqrt

In [7]:
from os import listdir

In [8]:
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [9]:
square=[i**2 for i in range(20)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [7]:
sqrt=[sqrt(i) for i in range(100)]
print(sqrt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [10]:
my_list=[i for i in range(-10,1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [11]:
odds=[i for i in range(1,100) if i%2!=0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [12]:
divisible_by_seven=[i for i in range(1,1000) if i%7==0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [14]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [17]:
vow=["a","e","i","o","u"]

In [18]:
non_vowels=[a for a in teststring if a not in vow]
print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [19]:
sentence="The Quick Brown Fox Jumped Over The Lazy Dog"

In [21]:
capital_letters=[a for a in sentence if a.isupper()]
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [28]:
consonants=[a for a in sentence if a not in vow and a!=" "]
print(consonants)

['T', 'h', 'Q', 'c', 'k', 'B', 'r', 'w', 'n', 'F', 'x', 'J', 'm', 'p', 'd', 'O', 'v', 'r', 'T', 'h', 'L', 'z', 'y', 'D', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [36]:
archives=listdir('../../')
print(archives)

['.ipynb_checkpoints', 'lab-bash', 'lab-control-flow', 'lab-dicts-sets-tuples', 'lab-errhand_listcomp', 'lab-functions', 'lab-vikings', 'List-Comprehension', 'Untitled.ipynb']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [11]:
random_lists=[random.choices(range(1,100),k=10) for i in range(4)]
print(random_lists)

[[99, 10, 71, 39, 98, 13, 66, 54, 75, 52], [80, 71, 57, 53, 19, 14, 83, 56, 40, 83], [85, 31, 23, 53, 75, 22, 80, 85, 6, 74], [62, 4, 82, 64, 66, 78, 92, 77, 32, 70]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [13]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [15]:
flatten_list=[i for sublist in list_of_lists for i in sublist]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [21]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [34]:
print(list_of_lists)

[['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], ['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], ['100', '100', '100', '100']]

In [35]:
list_of_lists

[['40', '20', '10', '30'],
 ['20', '20', '20', '20', '20', '30', '20'],
 ['30', '20', '30', '50', '10', '30', '20', '20', '20'],
 ['100', '100'],
 ['100', '100', '100', '100', '100'],
 ['100', '100', '100', '100']]

In [22]:
floats=[float(i) for b in list_of_lists for i in b]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [28]:
for i in ['a','b','c']:
    try:
        print (i**2)
    except TypeError:
        print(f"'{i}' is {type(i)} so cannot be powered to 2")

'a' is <class 'str'> so cannot be powered to 2
'b' is <class 'str'> so cannot be powered to 2
'c' is <class 'str'> so cannot be powered to 2

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [30]:
x = 5
y = 0
try:
    z = x/y
except ZeroDivisionError:
    print("All Done")

All Done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [33]:
abc=[10,20,20]
try:
    print(abc[3])
except IndexError:
    print(f"La lista tiene {len(abc)} elementos, luego no existe el elemento de indice 3")

La lista tiene 3 elementos, luego no existe el elemento de indice 3

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [13]:
fin=False
while fin==False:
    a=input("Introduce el PRIMER número: ")
    b=input("Introduce el SEGUNDO número: ")
    try:
        d=int(a)/int(b)
        print(d)
        fin=True
    except ValueError:
        print("tienen que ser 2 números!")
    except ZeroDivisionError:
        print("el segundo número no puede ser 0")

Introduce el PRIMER número: 5
Introduce el SEGUNDO número: 0
el segundo número no puede ser 0
Introduce el PRIMER número: 5
Introduce el SEGUNDO número: m
tienen que ser 2 números!
Introduce el PRIMER número: 4
Introduce el SEGUNDO número: 7
0.5714285714285714

### Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [9]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("El archivo no existe")

El archivo no existe

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [ ]:
# entiendo que los errores que querais que corrijamos son el FileNotFound y el TypeError (no la intendación)

In [29]:
try:
    fp = open('myfile.txt')
    line = fp.readline()
    i = int(s.strip())
except FileNotFoundError:
    print("El archivo no existe")
except ValueError:
    print("No se puede convertir a entero")

El archivo no existe

In [28]:
int("m")   # ejemplo

ValueError: invalid literal for int() with base 10: 'm'

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [19]:
import sys

In [20]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

Doing something.

In [22]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform)
        print('Doing something.')
    except AssertionError:
        print("Function can only run on Linux systems.")
linux_interaction()

Doing something.


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [34]:
fin=False
while fin==False:
    a=input("Introduce un ENTERO: ")
    try:
        print(int(a)**2)
        fin=True
    except ValueError:
        pass

Introduce un ENTERO: t
Introduce un ENTERO: g
Introduce un ENTERO: 3.4567
Introduce un ENTERO: 3.
Introduce un ENTERO: r
Introduce un ENTERO: 4
16


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [47]:
results=[i for j in range(2,10) for i in range(1,1001)  if i%j==0]
print(results)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 500, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 600, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 700, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 900, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1000, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696, 702, 708, 714, 720, 726, 732, 738, 744, 750, 756, 762, 768, 774, 780, 786, 792, 798, 804, 810, 816, 822, 828, 834, 840, 846, 852, 858, 864, 870, 876, 882, 888, 894, 900, 906, 912, 918, 924, 930, 936, 942, 948, 954, 960, 966, 972, 978, 984, 990, 996, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171, 180, 189, 198, 207, 216, 225, 234, 243, 252, 261, 270, 279, 288, 297, 306, 315, 324, 333, 342, 351, 360, 369, 378, 387, 396, 405, 414, 423, 432, 441, 450, 459, 468, 477, 486, 495, 504, 513, 522, 531, 540, 549, 558, 567, 576, 585, 594, 603, 612, 621, 630, 639, 648, 657, 666, 675, 684, 693, 702, 711, 720, 729, 738, 747, 756, 765, 774, 783, 792, 801, 810, 819, 828, 837, 846, 855, 864, 873, 882, 891, 900, 909, 918, 927, 936, 945, 954, 963, 972, 981, 990, 999]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [74]:
class excep(Exception):
    def __init__(self):
        return print("ERROR! ")

In [75]:
fin1=False
fin2=False

while not fin1:
    try:
        fin1=True
        answer=(input("Enter Total Marks Scored: ")) 
        Total_Marks=int(answer)
        
    except ValueError:
        fin1=False
        print(f"'{answer}' is not a mark")

while not fin2:  
    try:      
        Num_of_Sections = int(input("Enter Num of Sections: "))
        if Num_of_Sections < 2:
            raise excep()
        else:
            fin2=True
            
    except excep:
        print("Num of sections can not be less than 2")

print("Thank you very much")

Enter Total Marks Scored: hrd
'hrd' is not a mark
Enter Total Marks Scored: 4
Enter Num of Sections: 1
ERROR!
Num of sections can not be less than 2
Enter Num of Sections: 1
ERROR!
Num of sections can not be less than 2
Enter Num of Sections: 3
Thank you very much